<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
        <nav>
            <ul>
                <li>TEST</li>
                <li><a href="{{ url_for('index')}}">Home</a></li>
                <li><a href="{{ url_for('createuser')}}"">Create</a></li>
            </ul>
            {% block content %} {% endblock %}
        </nav>
    </body>
</html>