{% extends 'base.html' %}
{% block content %}
<!-- minified snippet to load TalkJS without delaying your page -->
<script>
(function(t,a,l,k,j,s){
s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
;k=t.Promise;t.Talk={v:3,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
.push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
</script>

<!-- container element in which TalkJS will display a chat UI -->
<div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px">
  <i>Loading chat...</i>
</div>

<script>
  const getUser = async () => {
    let agent = new Talk.User({
      id: "{{currentuser['id']}}",
      name: "{{currentuser['name']}}",
      email: "{{currentuser['email']}}",
      photoUrl: 'https://upload.wikimedia.org/wikipedia/commons/7/72/Default-welcomer.png'
    });
    return agent;
}

const getAgent = async () => {
      let other = new Talk.User({
      id: "{{other['id']}}",
      name: "{{other['name']}}",
      email: "{{other['email']}}",
      photoUrl: 'https://upload.wikimedia.org/wikipedia/commons/7/72/Default-welcomer.png'
    });
    return other;
}

(
    async function() {
    await Talk.ready;
    let user = await getUser();
    let agent = await getAgent();

    const session = new Talk.Session({
        appId: 'tOUrhvBm',
        me: user,
    });
    var conversation = session.getOrCreateConversation(Talk.oneOnOneId(user, agent));

    const prompts = ["How would you change the world?",
    "What do you feel strongly about?",
    "What do you think about the current state of the world?",
    "What do you think about the future?",
    "If you could change anything about the world, what would you change?"];
    const prompt = prompts[Math.floor(Math.random() * prompts.length)];
    
    conversation.setAttributes({
        welcomeMessages: ["Welcome to Agree to Disagree!", 
        "Try playing a game together like skribbl.io, or discuss the prompt",
        prompt]
    })
    conversation.setParticipant(user);
    conversation.setParticipant(agent);

    var inbox = session.createInbox(conversation);
    inbox.select(conversation);
    inbox.mount(document.getElementById("talkjs-container"));
}());
</script>
{% endblock %}