{% extends 'base.html' %}
{% block content %}
<!-- minified snippet to load TalkJS without delaying your page -->
<script>
(function(t,a,l,k,j,s){
s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
;k=t.Promise;t.Talk={v:3,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
.push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
</script>

<!-- container element in which TalkJS will display a chat UI -->
<div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px">
  <i>Loading chat...</i>
</div>

<script>
  const getUser = async () => {
    let agent = new Talk.User({
      id: "{{currentuser['id']}}",
      name: "{{currentuser['name']}}",
      email: "{{currentuser['email']}}",
      photoUrl: 'https://upload.wikimedia.org/wikipedia/commons/7/72/Default-welcomer.png',
      welcomeMessage: 'What\'s up?'
    });
    return agent;
}

const getAgent = async () => {
      let other = new Talk.User({
      id: "{{other['id']}}",
      name: "{{other['name']}}",
      email: "{{other['email']}}",
      photoUrl: 'https://upload.wikimedia.org/wikipedia/commons/7/72/Default-welcomer.png',
      welcomeMessage: 'What\'s up?'
    });
    return other;
}

(
    async function() {
    await Talk.ready;
    let user = await getUser();
    let agent = await getAgent();

    const session = new Talk.Session({
        appId: 'tOUrhvBm',
        me: user,
    });
    var conversation = session.getOrCreateConversation(Talk.oneOnOneId(user, agent));

    conversation.setAttributes({
        welcomeMessages: ["You can start typing your message here and one of our agents will be with you shortly.", "Please do not divulge any of your personal information."]
    })
    conversation.setParticipant(user);
    conversation.setParticipant(agent);

    var inbox = session.createInbox(conversation);
    inbox.select(conversation);
    inbox.mount(document.getElementById("talkjs-container"));
}());
</script>
{% endblock %}