{% extends 'base.html' %}

{% block content %}
{% if not users %}
<p class = "none">No users found.</p>
{% else %}
<stuff>
{% for user in users %}
    {% if user['id'] != id %}
    <unique class="new-card">
        <unique class="card-body">
            <h5 class="card-title">{{user['name']}}</h5>
            <p class="card-text">{{user['email']}}</p>
            <p class="card-text">{{user['interests']}}</p>
            <a href="{{url_for('chat', id=user['id'], userid=id)}}" class="btn btn-primary">
                Chat
            </a>
        </unique>
    </unique>
    {% endif %}
{% endfor %}
</stuff>
{% endif %}
<style>
    .new-card {
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: #fbfbfb;
        max-width: 30rem
    }
    .card-body {
        display: flex;
        flex-direction: column;
    }
    stuff {
        display:flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .none {
        text-align: center;
    }
</style>
{% endblock %}